<a href="https://colab.research.google.com/github/nabilaaryanti/AI/blob/main/Hate_Speech_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import module**

In [2]:
import pandas as pd

## **Data Hate Speech**

In [4]:
!mkdir main
!wget -P main/ https://raw.githubusercontent.com/nabilaaryanti/AI/main/Hate_Speech.csv
hate = pd.read_csv('main/Hate_Speech.csv')

mkdir: cannot create directory ‚Äòmain‚Äô: File exists
--2021-06-08 07:41:15--  https://raw.githubusercontent.com/nabilaaryanti/AI/main/Hate_Speech.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5643918 (5.4M) [text/plain]
Saving to: ‚Äòmain/Hate_Speech.csv.2‚Äô

Hate_Speech.csv.2   100%[===================>]   5.38M  --.-KB/s    in 0.1s

2021-06-08 07:41:15 (45.7 MB/s) - ‚Äòmain/Hate_Speech.csv.2‚Äô saved [5643918/5643918]

In [5]:
hate.head(3)

            id conversation_id  ... trans_src trans_dest
0  1,40067E+18      1,4005E+18  ...       NaN        NaN
1  1,40064E+18     1,40064E+18  ...       NaN        NaN
2  1,40063E+18     1,40046E+18  ...       NaN        NaN

[3 rows x 36 columns]

In [6]:
# Tipe Datanya : DataFrame (df)
print(type(hate))
# Ukuran Data
N, P = hate.shape
'baris =', N, ', Kolom =', P

<class 'pandas.core.frame.DataFrame'>

('baris =', 8813, ', Kolom =', 36)

In [ ]:
# Menghapus beberapa data
# hate = hate.drop(beberapa label)

##**Data Non Hate Speech**

In [7]:
!mkdir main
!wget -P main/ https://raw.githubusercontent.com/nabilaaryanti/AI/main/Non_Hate_Speech.csv
non_hate = pd.read_csv('main/Non_Hate_Speech.csv')

mkdir: cannot create directory ‚Äòmain‚Äô: File exists
--2021-06-08 07:47:40--  https://raw.githubusercontent.com/nabilaaryanti/AI/main/Non_Hate_Speech.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3537230 (3.4M) [text/plain]
Saving to: ‚Äòmain/Non_Hate_Speech.csv‚Äô

Non_Hate_Speech.csv 100%[===================>]   3.37M  --.-KB/s    in 0.1s

2021-06-08 07:47:41 (33.8 MB/s) - ‚Äòmain/Non_Hate_Speech.csv‚Äô saved [3537230/3537230]

In [8]:
non_hate.head(3)

            id conversation_id  ... trans_src trans_dest
0  1,40119E+18     1,40119E+18  ...       NaN        NaN
1  1,40118E+18     1,40118E+18  ...       NaN        NaN
2  1,40117E+18       1,401E+18  ...       NaN        NaN

[3 rows x 36 columns]

In [10]:
# Tipe Datanya : DataFrame (df)
print(type(non_hate))
# Ukuran Data
N, P = non_hate.shape
'baris =', N, ', Kolom =', P

<class 'pandas.core.frame.DataFrame'>

('baris =', 6700, ', Kolom =', 36)

In [ ]:
# Menghapus beberapa data
# non_hate = non_hate.drop(beberapa label)